#landscapeWarning, #game, #endScreen {
    display: none;
}

#main {
    height: 100%;
}

#startScreen {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 30px;
}

#startGameBtn, #leaderboardBtn {
    width: 160px;
    height: 42px;
    font-size: 24px;
}

#endScreen {
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    line-height: 2;
    font-size: 32px;
}

#restartGameBtn {
    width: 220px;
    height: 42px;
    font-size: 24px;
    margin-top: 18px;
}

#leaderboard {
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}