#rules {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rules h2 {
    font-size: 12vw;
    color: white;
    text-shadow: 4px 4px #121212;
}

#rules h3 {
    font-size: 4.7vw;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 24px;
}

#rules table {
    max-width: 85%;
    margin: 24px 0;
    background-color: wheat;
}

#rules td, #rules th {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #222;
    padding: 12px;
    line-height: 1.4;
}

#rules img {
    width: 42px;
}

#rules br {
    display: block;
    content: "";
    margin-top: 10px;
}
