#rules {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rules h2 {
    font-size: 42px;
    color: white;
}

#rules table {
    max-width: 85%;
    margin: 24px 0;
    background-color: wheat;
}

#rules td, #rules th {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #222;
    padding: 12px;
}

#rules img {
    width: 42px;
}

#rules br {
    display: block;
    content: "";
    margin-top: 10px;
}
