#startScreen {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#startScreen h3 {
    font-size: 26px;
    margin-top: 36px;
    margin-bottom: 12px;
    border-radius: 5px;
}

#startScreen h4 {
    font-size: 18px;
    margin-bottom: 36px;
}

#startGameBtn {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.6;
}

#rulesBtn {
    position: absolute;
    font-size: 2.5em;
    color: #e09900;
}

#logo {
    width: 70vw;
}